/*===========================================================
	1.CSS RESET
===============================================================*/
*{
	margin: 0;
	padding: 0;
	outline: none;
}

/*=================================================================
     2.CSS HEADER
==================================================================== */
#logo img {
	margin-bottom:13px
}

.header-bottom {
	border-top:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3
}

.color-div{
	background:#353535!important;
}

#footer.color-div input{
	background: #3f3f3f;
	border:1px solid gray;
}

.color-div a{
	color:lightgray;
}

.header-top {
	border-bottom:1px solid #e3e3e3;
	height:47px
}

/* ==========================================================================
    4. NAVIGATION
============================================================================= */
.menu-beta {
height:47px
}

.menu-beta li {
border-right:1px solid #d3d3d3
}

.menu-beta li:first-child {
border-left:1px solid #d3d3d3
}

.menu-beta li>a {
padding:0 20px;
line-height:47px;
height:47px;
display:block
}

.menu-beta li .beta-select {
line-height:47px;
height:47px;
display:block
}

.menu-beta li select {
border:none;
height:46px;
display:block;
padding:0 20px
}

.menu-beta li a>i {
margin-right:3px;
color:#999da0
}

.menu-beta li a:hover i {
color:#000
}

.header-body {
padding:20px 0 0px
}

.main-menu {
height:60px;
display:table-cell;
vertical-align:middle;
font-weight:400
}

.main-menu ul {
list-style:none
}

.main-menu li.current-menu-item {
background:#3a5c83
}

.main-menu li.current-menu-item>a {
color:#fff;
text-transform:uppercase
}

.main-menu a {
font-family:"Open Sans",sans-serif;
font-size:16px
}

.main-menu li:hover>.sub-menu {
display:block
}

/* ==========================================================================
    4.1 SUBMENU
============================================================================= */

.sub-menu,.children {
display:none;
position:absolute;
top:100%;
left:0;
z-index:100;
list-style:none;
background:#fff
}

.sub-menu li,.children li {
float:none;
width:100%;
padding:0 40px 0 20px !important;
border-bottom:1px solid #e6e6e6
}

.sub-menu li:last-child,.children li:last-child {
border-bottom:none
}

.sub-menu li a,.children li a {
color:#505050;
display:block;
white-space:nowrap;
line-height:40px;
height:40px;
padding:0
}

.sub-menu li:hover,.children li:hover {
background:#3a5c83
}

.sub-menu li:hover a,.children li:hover a {
color:#fff
}

ul.sub-menu ul.sub-menu,ul.children ul.children {
display:none;
left:100%;
top:0
}

ul.sub-menu ul.sub-menu li a,ul.children ul.children li a {
color:#505050
}

ul.sub-menu ul.sub-menu li:hover>a,ul.children ul.children li:hover>a {
color:#fff
}

